*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: "Open sans", sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 35px;
    font-weight: 800;
    float: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#FFFFFF;

}

.menu{
    float: right;
}

nav{
    width:100%;
    margin:auto;
    display:flex;
    line-height:80px;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    background:rgb(156, 201, 237);
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color:#FFFFFF;
    font-weight: bold;
    text-align: center;
    padding:0px 16px 8px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

.wrapped{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}
.wrapped img{
    width: 265px;
}

.caption {
    margin-top: -100px;
}

#tentang {
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

#tentang li {
    margin-left: 50px;
}

h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: 'inherit';
    margin-top: 0px;
    margin-bottom: 20px;
    color: inherit ;
    width: 100%;
    line-height: 1.2;
}

p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    color:#000 ;
    width: 100%;
    line-height: 25px;
    letter-spacing: 1px
}

h2{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lato',sans-serif;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 30px;
    color: #000 ;
    width: 100%;
    line-height: 25px;
}

ol{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    color:#000 ;
    width: 100%;
    line-height: 25px;
    letter-spacing: 1px
}

.keahlian
h2{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lato',sans-serif;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #000 ;
    width: 100%;
    line-height: 25px;
}
ul{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato',sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
    color:#000 ;
    width: 100%;
    line-height: 25px;
    letter-spacing: 1px;
}

.portfolio h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lato',sans-serif;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 0px;
    color: #000 ;
    width: 100%;
    line-height: 25px;
}

.portfolio img{
    width: 250px;
    height: auto;
    display: block; /* membuat gambar menjadi elemen block */
    margin: 0 auto;/* membuat gambar berada di tengah secara horizontal */
    padding: 20px; /* menghapus padding pada gambar */
}

footer {
    background-color: lightgray;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  /* gaya teks pada footer */
  footer p {
    font-size: 0.8em;
    margin: 0;
  }